/*
  Because we are using post-css any styles placed here
  can be accessed throughout the app.
*/

.main-content-container {
  display: grid;
}

/*****************************
Site-wide Media Queried Styles
*****************************/
/* Large desktop */
@media (min-width: 980px) {
  .main-content-container {
    grid-template-columns: auto [left-gutter] 650px [right-gutter] auto;
    grid-template-rows: 100px [top-gutter] auto [bottom-gutter] 100px;
  }
  * {background-color: rgba(255,0,0,0.1);}
}

/* Landscape phone to landscape and desktop */
@media (min-width: 481px) and (max-width: 979px) {
  .main-content-container {
    grid-template-columns: auto [left-gutter] 480px [right-gutter] auto;
    grid-template-rows: 100px [top-gutter] auto [bottom-gutter] 100px;
  }
  * {background-color: rgba(0,0,255,0.1);}
}

/* Landscape phones and down */
@media (max-width: 500px) {
  .main-content-container {
    grid-template-columns: 20px [left-gutter] auto [right-gutter] 20px;
    grid-template-rows: 100px [top-gutter] auto [bottom-gutter] 100px;
  }
  * {background-color: rgba(255,255,0,0.1);}
}


* {
  margin: 0;
}

.main-content {
  grid-column-start: left-gutter;
  grid-column-end: right-gutter;
}

.subtitle {
  font-weight: normal;
  font-size: 20px;
  color: #36454f;
  margin-top: 10px;
}

.title-box {
  margin-top: 30px;
  margin-bottom: 30px;
}

.text-box {
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
}
.boxed {
  border: 1px solid #CCCCCC;
}

/* FONTS */
body {
    font-family: Lucida Grande, Lucida Sans Unicode, sans-serif;
    color:#4f4d4d;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

h1 {
    font-size: 2em;
    color:#603417;
}
h2 {
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
h3 {
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#main-content{
    padding-bottom: 25px;
}

/* TEMPLATE */
body {
    background-color:   #e8e9e3;
    min-height:         240px;
    position:           relative;
    line-height: 1.42;
}

a {
	color: #337ab7;
	text-decoration: none;
}

#header-wrap{
    height:230px;
    width:100%;
    background:#373737 
    no-repeat center top;
    position:relative;
    z-index:0;
}

#header{
    max-width:960px;
    width:auto;
    height:110px;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    padding-top:30px;
}

#main{
    max-width:960px;
    width:auto;
    margin:0 auto;
    margin-top:-120px;
    margin-bottom: 30px;
    position:relative;
    z-index:5;
    background-color:transparent;
}

#main-content {
    background-color:#fff;
    padding:15px 30px 0 30px;
    min-height:575px;
}

.nav li{
	float:right;
	border-right: solid 1px #999999
}

.nav li.first{
	border-right: none;
}

.nav>li>a{
	color: white;
	font-size: 12px;
	padding-top: 4px;
	display: block;
	padding: 10px 15px;
}

.pull-right {
    float: right;
}
